<!-- Menu déroulant pour sélectionner l'activité -->
<select [(ngModel)]="selectedActivity" (change)="filterByActivity($event)">

  
    <option value="Toutes">Toutes</option>
    <option value="pataugeoire">Pataugeoire</option>
    <option value="petanque">Pétanque</option>
    <option value="sport">Sport</option>
    <option value="espace enfant">Espace enfant</option>
</select>
  
  <!-- Affichage des emplacements filtrés par activité -->
  <div *ngFor="let location of locationData | activityFilter:selectedActivity">
    <div *ngFor="let imgUrl of location.imageUrl">
      <img [src]="imgUrl" alt="Image">
    </div>
    <div *ngFor="let activite of location.activite">
      {{ activite }}
    </div>
  </div>
  
  <!-- Carte Leaflet -->
  <div style="height: 500px; width: auto;"
    leaflet
    [leafletOptions]="options"
    [leafletLayers]="layers">
  </div>
  