<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Détails du lieu
    </ion-title>
    <div *ngFor="let location of locationData$|async ">
      <div *ngFor="let imgUrl of location.imageUrl">
        <img [src]="imgUrl" alt="Image">
      </div>
      <div *ngFor="let activite of location.equipement">
        {{ activite }}
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        Fermer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-header>
  <ion-toolbar>
    <ion-title>
      Détails du lieu
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        Fermer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <h1>{{ locationData.title }}</h1>
  <h3>{{locationData.adresse}}</h3>

  <h2 class="section-heading">Equipement</h2>
  <ion-list *ngFor="let equipement of locationData.equipement" class="equipment-list">
    <ion-item class="equipment-item">{{ equipement }}</ion-item>
  </ion-list>

  <h2 class="section-heading">Photos</h2>
  <ion-list *ngFor="let img of locationData.imageUrl" class="image-list">
    <ion-item class="image-item">
      <ion-img class="modal-image" [src]="img"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>


